.productsPage {
  padding: 75px 0 40px;
}
.productsPage_table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px;
  margin-top: 20px;
}
.productsPage_table th,
.productsPage_table td {
  border: 1px solid var(--table-border);
  padding: 20px;
  text-align: start;
}

.productsPage_table caption {
  font-weight: var(--fw-semibold);
  font-size: var(--fs-18);
  line-height: 1.33;
  background: var(--background);
  border: 0px solid rgba(29, 30, 33, 0.08);
  border-radius: 8px 8px 0 0;
  height: 64px;
  padding: 20px;
  text-align: start;
}

.productsPage_table th {
  font-size: var(--fs-14);
  line-height: 1.29;
  color: var(--muted);
}

.productsPage_table tbody {
  height: 76px;
}
.productsPage_filter_modal_container {
  display: flex;
  justify-content: space-between;
}
.productsPage_btn_modal {
  border-radius: 60px;
  padding: 13px;
  width: 42px;
  height: 42px;
  background: var(--accent);
}
.productsPage_text_modal {
  font-size: var(--fs-14);
  line-height: 1.29;
}
.productsPage_modal_container {
  display: flex;
  gap: 8px;
  align-items: center;
}
.productsPage_modal_btn_svg {
  width: 16px;
  height: 16px;
  fill: var(--background);
}
.productsPage_modal_edit_svg {
  width: 16px;
  height: 16px;
  stroke-width: 1.3px;
  stroke: var(--accent);
  fill: none;
}
.productsPage_modal_btn_edit {
  border: 1px solid rgba(89, 177, 122, 0.5);
  border-radius: 30px;
  padding: 8px;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.productsPage_modal_btn_edit_box {
  display: flex;
  gap: 8px;
}
.productsPage_modal_btn_delete {
  border: 1px solid rgba(232, 80, 80, 0.5);
  border-radius: 30px;
  padding: 8px;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.productsPage_modal_delete_svg {
  stroke-width: 1.3px;
  stroke: var(--accent-2);
  width: 16px;
  height: 16px;
  fill: none;
}
