.modalTitle {
  font-weight: var(--fw-semibold);
  font-size: var(--fs-24);
  line-height: 1.17;
  margin-bottom: 40px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.inputsWrapper {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.input {
  height: 44px;
  width: 224px;
  padding: 13px 18px;
  border: 1px solid rgba(89, 177, 122, 0.4);
  border-radius: 60px;
  background: var(--background-3);
  font-weight: var(--fw-regular);
  font-size: var(--fs-12);
  line-height: 1.5;
  color: var(--placeholder);
}

.select {
  padding: 13px 18px;
  height: 44px;
  border: 1px solid rgba(89, 177, 122, 0.4);
  border-radius: 60px;
  width: 224px;
  background: var(--background-3);
  font-weight: var(--fw-regular);
  font-size: var(--fs-12);
  line-height: 1.5;
  color: var(--placeholder);
}

.actions {
  display: flex;
  gap: 12px;
  margin-top: 10px;
}

.btnSave {
  border-radius: 60px;
  padding: 13px 50px;
  width: 133px;
  height: 44px;
  background: var(--accent);
  font-size: var(--fs-14);
  line-height: 1.29;
  color: var(--background-3);
}
.btnSave:hover {
  background: var(--accent-hover);
}

.btnCancel {
  border-radius: 60px;
  padding: 13px 43px;
  width: 133px;
  height: 44px;
  background: var(--table-border);
  font-size: var(--fs-14);
  line-height: 1.29;
  color: var(--muted);
}
.first_line_input_box {
  display: flex;
  gap: 8px;
}
