.orderPage {
  padding: 75px 0 40px;
}
.order_table {
  border-collapse: collapse;
  width: 100%;
}
.order_table th,
.order_table td {
  border: 1px solid var(--table-border);
  padding: 20px;
  text-align: start;
}

.order_table caption {
  font-weight: var(--fw-semibold);
  font-size: var(--fs-18);
  line-height: 1.33;
  background: var(--background);
  border: 0px solid rgba(29, 30, 33, 0.08);
  border-radius: 8px 8px 0 0;
  height: 64px;
  padding: 20px;
  text-align: start;
}

.order_table th {
  font-size: var(--fs-14);
  line-height: 1.29;
  color: var(--muted);
}

.order_table_avatar {
  border-radius: 30px;
  width: 36px;
  height: 36px;
}
.order_table_avatar_box {
  display: flex;
  gap: 8px;
  align-items: center;
}
.order_table tbody {
  height: 76px;
}
.completed {
  color: var(--accent);
  background: var(--status-completed-bg);
}

.confirmed {
  color: var(--status-confirmed);
  background: var(--status-confirmed-bg);
}

.pending {
  color: var(--status-pending);
  background: var(--status-pending-bg);
}

.cancelled {
  color: var(--accent-2);
  background: var(--status-cancelled-bg);
}

.processing {
  color: var(--status-processing);
  background: var(--status-processing-bg);
}

.shipped {
  color: var(--status-shipped);
  background: var(--status-shipped-bg);
}

.delivered {
  color: var(--status-delivered);
  background: var(--status-delivered-bg);
}
.delivered,
.shipped,
.processing,
.cancelled,
.pending,
.confirmed,
.completed {
  border-radius: 40px;
  padding: 4px 12px;
  width: 92px;
  height: 25px;
  font-size: var(--fs-14);
  display: flex;
  align-items: center;
  justify-content: center;
}
